{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["compat"],
  "extends": ["plugin:compat/recommended"],
  "rules": {
    "compat/compat": "error"
  },
  "settings": {
    "polyfills": ["fetch"],
    "browsers": [
      "chrome 72",
      "safari 9",
      "ie 9"
    ],
    "ignores": ["dist", "node_modules", "build"]
  }
}
